# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Frontend
node_modules/
frontend/build/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
